<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if page.collectionpage %}
			{% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
			<title>{{ collectiondata.title }} - {{ site.title }}</title>
		{% elsif page.title %}
			<title>{{ page.title }} - {{ site.title }}</title>
		{% else %}
			<title>{{ site.title }}</title>
		{% endif %}

		<link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">

		{% if site.favicon %}
			<link rel="shortcut icon" href="{{ site.favicon }}">
		{% else %}
			<link rel="shortcut icon" href="{{ site.logo }}">
		{% endif %}
		<body>
			{{ content }}
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="/assets/_colors.scss">
		</body>
	</head>
</html>
