<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if page.collectionpage %}
			{% assign collectiondata = site.collections | where: "label", page.collectionpage | first %}
			<title>{{ collectiondata.title }} - {{ site.title }}</title>
		{% elsif page.title %}
			<title>{{ page.title }} - {{ site.title }}</title>
		{% else %}
			<title>{{ site.title }}</title>
		{% endif %}

		<link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">

		{% if site.favicon %}
			<link rel="shortcut icon" href="{{ site.favicon }}">
		{% else %}
			<link rel="shortcut icon" href="{{ site.logo }}">
		{% endif %}
		// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.roboto-slab-<uniquifier> {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
		<body>
			{{ content }}
		<body>
	</head>
</html>
